@charset "utf-8";

html {
  font-size: 16px;
}

body {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: inherit;
  color: $clr-black;
  background-color: $clr-grey-50;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: $clr-black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $clr-black;
    outline: none;
    box-shadow: none;
  }

  &.tag {
    font-size: .8rem;
    line-height: 1rem;
    color: $clr-grey-500;

    &:hover {
      color: $clr-grey-800;
    }
  }
}

code {
  font-size: .8rem;
  line-height: 1rem;

  &:not(.hljs) {
    background-color: $clr-grey-100;
    border-bottom: 1px solid $clr-grey-200;
    color: $clr-black;
    font-size: .8rem;
    border-radius: 2px;
  }
}

pre {
  font-size: .8rem;
  line-height: 1rem;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 2rem;
}

h4,
h5 {
  font-size: 1rem;
  line-height: 1rem;
}

div,
span,
p,
a {
  word-wrap: break-word;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}






footer.site {
  padding: 3rem 0;
  text-align: center;

  p {
    font-size: .8rem;
    margin-bottom: .5rem;
    color: $clr-grey-500;
  }
}

@media (max-width: 768px) {
  aside.site {
    margin-top: 3rem;
  }
}

aside.site .section {
  margin-bottom: 1.5rem;

  header {
    box-shadow: 0 -1px 0 $clr-grey-200 inset;
    margin-bottom: 1rem;

    .title {
      position: relative;
      display: inline-block;
      border-bottom: 1px solid $clr-black;
      padding: .5rem 0;
      padding-right: 1rem;

      &:before {
        position: absolute;
        left: 10px;
        bottom: -11px;
        content: "";
        border-top: 5px solid $clr-black;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
      }
    }
  }
}

div.list header.title {
  margin-bottom: 2rem;
}

article.li {
  margin-bottom: 2rem;
  background-color: $clr-white;

  .detail {
    padding: 1rem;
  }

  a {
    position: relative;
    text-decoration: none;
    display: block;
  }

  .image {
    height: 12rem;
    background-color: $clr-grey-200;
    background-position: center;
    background-size: cover;
  }

  time {
    position: absolute;
    top: -5px;
    left: 15px;
    display: block;
    z-index: 1;
    white-space: nowrap;
    padding: 3px 7px;
    color: $clr-white;
    background-color: $clr-grey-800;
    border-bottom: 2px solid $clr-black;
    font-size: .7rem;
    line-height: 1rem;
  }

  .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .summary {
    word-break: break-all;
    height: 5rem;
    overflow: hidden;
    color: $clr-grey-500;
    font-size: .8rem;
    line-height: 1rem;
  }
}

@media (min-width: 767px) {
  .articles .col-sm-4 article.li {
    .image {
      height: 10rem;
    }

    .title {
      font-size: 1.2rem;
    }

    .detail {
      padding: .5rem;
    }
  }
}

.sm article.li {
  margin-bottom: .5rem;
  background-color: transparent;

  .detail {
    display: table-cell;
    padding: 0;
    padding-left: .5rem;
    height: 50px;
    vertical-align: middle;
  }

  .title {
    white-space: normal;
    line-height: 1rem;
    font-size: .8rem;
  }

  .image {
    float: left;
    width: 50px;
    height: 50px;
  }

  time {
    position: relative;
    display: block;
    top: auto;
    left: auto;
    padding: 0;
    background-color: transparent;
    color: $clr-grey-500;
    line-height: 1rem;
    font-size: .8rem;
    border-bottom: 0;
  }

  .summary {
    display: none;
  }
}



#TableOfContents {
  font-size: .8rem;
  line-height: 1.5rem;

  a {
    display: block;
  }

  ul ul a {
    text-decoration: none;
  }

  > ul {
    padding-left: 0;
    list-style: none;

    > li {
      font-weight: 900;
      margin-bottom: 1rem;
    }

    ul {
      padding-left: 0;
      font-weight: normal;
      list-style: none;

      ul {
        padding-left: 1rem;
        list-style: none;
      }
    }
  }
}

.section {
  &.menu {
    line-height: 1.5rem;

    a {
      display: block;
    }

    ul {
      font-size: .8rem;
      list-style: none;
      padding-left: 0;

      a {
        text-decoration: none;
      }

      ul {
        padding-left: 1rem;
      }
    }
  }

  &.taxonomies a {
    display: block;
    font-size: .8rem;
    text-decoration: none;
    line-height: 1.5rem;

    &:before {
      content: "\f105";
      font-family: "Fontawesome";
      margin-right: 5px;
    }
  }
}

article.single aside {
  padding: 2rem;

  .section {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  article.single aside {
    padding: 1rem;
  }
}

nav.paging {
  position: relative;
  min-height: 5rem;

  a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    background-color: $clr-grey-800;
    border-bottom: 2px solid $clr-black;
    color: $clr-white;
  }

  .left {
    position: absolute;
  }

  .right {
    position: absolute;
    right: 0;
  }
}

.share {
  text-align: right;

  a {
    display: inline-block;
    color: $clr-grey-500;
    padding: 0 .5rem;
  }
}
